<div class="cookie-info-section" [class.not-display]="isClosed">
  <a class="close-button" (click)="isClosed = true">Zamknij</a>
  <h4>Cookies - Angular</h4>
  <p>
    Nasza strona wykorzystuje pliki cookies w celu zapamiętywania preferencji i
    ustawień oraz zbierania anonimowych danych dla celów reklamowych i
    statystycznych. Korzystając ze strony, wyrażasz zgodę na wykorzystywanie
    plików cookies. Możesz w każdym czasie określić sposób wykorzystywania
    plików cookies w ustawieniach swojej przeglądarki internetowej. Jeżeli
    pozostawisz te ustawienia bez zmian, pliki cookies zostaną zapisane w
    pamięci Twojego urządzenia. Zmiana ustawień plików cookies może ograniczyć
    funkcjonalność serwisu.
  </p>
</div>
